* {
    margin: 0;
}

body{
    background-color: gray;
}

.container {
    min-height: 70vh;
    background-image: url(../images/Wood3.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.instructions{
    margin-left: 400px;
}

.calculator {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    gap: 8px;
    background-image: linear-gradient(45deg, rgb(85, 71, 71), black);
    padding: 15px;
    border-radius: 12px;
}

.calc-title {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    color: white;
}

.screen {
    grid-column-start: 1;
    grid-column-end: 5;
    /* border: 5px solid green; */
}

.screen input {
    width: 99%;
    height: 40px;
    background-color: aqua;
    border-radius: 12px;
    text-align: right;
    font-size: 20px;
    border: 2px solid silver;
}

.divider {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    margin: 5px;
}

.middle-divider{
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    height: 0px;   
}

button{
    border: 3px solid rgb(75, 71, 71);
}

.btn {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(177deg, black, #444444);
    color: white;
    border-radius: 8px;
}

.btn:hover{
    opacity: .5;
}

#equalBtn {
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: linear-gradient(177deg, black, #444444);
    color: white;
    border-radius: 8px;
}

#equalBtn:hover{
    opacity: .3;
}

#powerBtn {
    background-color: red;
    color: white;
    border-radius: 8px;
}
